
CertiBase/CertiBase/.vs/CertiBase/v17/ipch/AutoPCH/461e50f6299a6679/CERTIBASE.ipch
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.opendb
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db-wal
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db-shm
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db
CertiBase/CertiBase/.vs/CertiBase/FileContentIndex/read.lock
CertiBase/CertiBase/.vs/CertiBase/FileContentIndex/52adf849-2a5f-4685-a94f-b98276ea1382.vsidx
CertiBase/CertiBase/.vs/CertiBase/v17/.suo
CertiBase/CertiBase/CertiBase/CertiBase.vcxproj.filters
CertiBase/CertiBase/CertiBase/CertiBase.vcxproj.user
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.log
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/CertiBase.lastbuildstate
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/CL.command.1.tlog
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/unsuccessfulbuild
CertiBase/CertiBase/CertiBase/x64/Debug/vc143.idb
CertiBase/CertiBase/CertiBase/x64/Debug/vc143.pdb
CertiBase/CertiBase/.vs/CertiBase/FileContentIndex/52adf849-2a5f-4685-a94f-b98276ea1382.vsidx
CertiBase/CertiBase/.vs/CertiBase/v17/.suo
CertiBase/CertiBase/CertiBase/CertiBase.vcxproj.filters
CertiBase/CertiBase/CertiBase/CertiBase.vcxproj.user
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.log
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/CertiBase.lastbuildstate
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/CL.command.1.tlog
CertiBase/CertiBase/CertiBase/x64/Debug/CertiBase.tlog/unsuccessfulbuild
CertiBase/CertiBase/CertiBase/x64/Debug/vc143.idb
CertiBase/CertiBase/CertiBase/x64/Debug/vc143.pdb
