
CertiBase/CertiBase/.vs/CertiBase/v17/ipch/AutoPCH/461e50f6299a6679/CERTIBASE.ipch
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.opendb
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db-wal
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db-shm
CertiBase/CertiBase/.vs/CertiBase/v17/Browse.VC.db
CertiBase/CertiBase/.vs/CertiBase/FileContentIndex/read.lock
